.FormularioClasico {
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input {
            padding: 0.5rem 1rem;
            outline: none;
            transition: all 0.4s;
            border: solid 1px #ffffff66;
            border-radius: 0.3rem;
            &:focus {
                border: solid 1px #02E8AF66;
            }
            &::selection {
                background-color: #02E8AF;
            }
        }
        button {
            background-color: #02E8AF;
        }
        .errorMessage {
            color: #02E8AF;
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}