.RickMorty {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
            display: flex;
            gap: 1rem;
            align-items: center;

            input {
                padding: 0.5rem 1rem;
                outline: none;
                transition: all 0.4s;
                border: solid 1px #ffffff66;
                border-radius: 0.3rem;
                &:focus {
                    border: solid 1px #02e8af66;
                }
                &::selection {
                    background-color: #02e8af;
                }
            }
        }
        button {
            background-color: #02e8af;
        }
}
