.MainLayout {
    nav {
        display: flex;
        gap: 1rem;

        a {
            color: #02E8AF;
            padding: 1rem;
            transition: all 0.4s;
        }

        .active {
            color: white;
            background-color: #02E8AF;
        }
    }
}